variables:
  # Default ctest model. Warning : overwritten if set in schedules variables (as we expect)
  CTEST_BUILD_MODEL: Continuous
  # Default behavior regarding cdash submission
  CDASH_SUBMIT: 0
  # Name of the docker image used to run examples. Default = master.
  # Set by CI in siconos project for "triggered" examples.
  SICONOS_DOCKER_NAME: siconoslab-master
  

# -- Template for examples build-test-install jobs --
# - Pull an image (possibly from siconos-tutorials registry)
#   named  IMAGE_NAME
.examples-build:
  image:
    name: $IMAGE_NAME
    entrypoint: [""]
  stage: test
  script:
    - env
    - sh ci_gitlab/build_and_run_examples.sh
  artifacts:
      paths:
        - build/
      expire_in: 3 days 
      reports:
        junit: $CI_PROJECT_DIR/build-examples/test_results.xml

# examples, on ubuntu20 with a standard (default)
# Siconos installation (based on current development, master branch, version
# Run only when a push has been done to this project.
run-examples:
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/siconoslab-master
    CDASH_SUBMIT: 1
  extends: .examples-build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
    - when: never

# examples, on ubuntu20 with a standard (default)
# Siconos installation (based on the last commit in siconos)
# - Run only when triggered from siconos project
# - Run on a docker image corresponding to a specific branch in siconos project.
#   (var: SICONOS_DOCKER_NAME, automatically set by CI in siconos project)
#
# This job runs in  multi-project pipelines only
triggered-examples:
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/siconoslab-$CI_COMMIT_REF_SLUG
    CDASH_SUBMIT: 1
    BUILD_DIR: ${CI_PROJECT_DIR}/build-examples
  extends: .examples-build
  rules:
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: always
    - when: never
 

# examples, with a standard (default) Siconos installation
# with version from release 4.5 (latest)
# Triggered manualy.
run-examples:release:
  variables:
    IMAGE_NAME: $CI_REGISTRY_IMAGE/siconos-release-4.5
    CDASH_SUBMIT: 1
  extends: .examples-build
  when: manual
